[submodule "apps/backend"]
	path = apps/backend
	url = https://github.com/SadPossum/BunkFy.Backend.git
	branch = dev
[submodule "apps/web"]
	path = apps/web
	url = https://github.com/SadPossum/BunkFy.Web.git
	branch = dev
